* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-size: 72px;
  text-align: center;
}

p {
  font-size: 36px;
  margin: 0 10%;
}

.slide-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide-container h1,
.slide-container button {
  margin: 0 auto;
}

.hidden {
  display: none;
}

#intro {
  background-color: black;
}

#rules,
#victory-screen {
  background-color: white;
}

#intro h1 {
  color: white;
}

#room h1,
#room p,
#rules p,
#victory-screen h2 {
  text-align: center;
}

#room h1,
#room p {
  color: white;
}

#direction {
  background-color: gray;
  position: relative;
}

#direction h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#up,
#down,
#left,
#right {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 10%;
}

#up,
#down {
  left: 50%;
}

#left,
#right {
  top: 50%;
}

#up {
  top: 10%;
}

#down {
  top: 90%;
}

#left {
  left: 10%;
}

#right {
  left: 90%;
}

#timer {
  background-color: black;
  color: white;
  text-align: center;
  width: 15%;
  margin: 0 5px;
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
}

#map-screen {
  position: absolute;
  background-color: white;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-grid {
  margin: 0 auto;
  height: 80%;
}

#game-grid tr {
  height: 120px;
}

#game-grid td {
  text-align: center;
  padding: 20px;
  height: 20px;
  width: 20px;
  border: 5px solid black;
}
#map-screen button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

button {
  width: 20%;
  padding: 20px;
  border: 5px solid black;
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 24px;
}

button:hover {
  background-color: greenyellow;
  cursor: pointer;
}

button:disabled {
  background-color: darkslategrey;
  cursor: not-allowed;
}

.red-entered {
  background-color: #be3d2a;
}
.red-skipped {
  background-color: #53403d;
  color: #352927;
}
.green-entered {
  background-color: green;
  color: white;
}
.green-skipped {
  background-color: #3d533d;
  color: #2c3a2c;
}
.blue-entered {
  background-color: blue;
  color: white;
}
.blue-skipped {
  background-color: #2c3a56;
  color: #1e283b;
}
.yellow-entered {
  background-color: yellow;
}
.yellow-skipped {
  background-color: #5e5e3e;
  color: #46462e;
}
.black-entered {
  background-color: black;
  color: white;
}
.black-skipped {
  background-color: #7b7b7b;
  color: #343434;
}
.white-skipped {
  background-color: #ffffff;
}
.purple-entered {
  background-color: purple;
  color: white;
}
