* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-size: 72px;
  text-align: center;
}

p {
  font-size: 24px;
}

.slide-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide-container h1,
.slide-container button {
  margin: 0 auto;
}

.hidden {
  display: none;
}

#intro {
  background-color: black;
}

#intro h1 {
  color: white;
}

#room h1,
#room p {
  text-align: center;
}

#direction {
  background-color: gray;
  position: relative;
}

#direction h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#up,
#down,
#left,
#right {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 10%;
}

#up,
#down {
  left: 50%;
}

#left,
#right {
  top: 50%;
}

#up {
  top: 10%;
}

#down {
  top: 90%;
}

#left {
  left: 10%;
}

#right {
  left: 90%;
}

#timer {
  background-color: black;
  color: white;
  text-align: center;
  width: 15%;
  margin: 0 5px;
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
}

button {
  width: 20%;
  padding: 20px;
  border: 5px solid black;
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 24px;
}

button:hover {
  background-color: greenyellow;
  cursor: pointer;
}

button:disabled {
  background-color: darkslategrey;
  cursor: not-allowed;
}
